[Desktop Entry]
Type=Application
Name=Mangabound
Comment=A desktop workflow for binding, converting, and delivering manga to e-readers
Exec=mangabound %U
Terminal=false
Categories=Graphics;Utility;
StartupWMClass=Mangabound
